.lt-main-nav {
  width: 100%;
  padding: 10px;
}
.lt-main-nav li {
  width: 33.33%;
  float: left;
}
.lt-main-nav li a {
  display: block;
}
.lt-main-nav li a img {
  width: 100%;
}
.lt_product {
  padding: 10px;
  text-align: center;
}
.lt_product_item {
  width: 48%;
  float: left;
  padding: 10px;
  margin-right: 4%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}
.lt_product_item:nth-child(2n) {
  margin-right: 0;
}
.lt_product_item a {
  display: block;
}
.lt_product_item a img {
  width: 100%;
  display: block;
}
.lt_product_item a .price {
  color: #ff4242;
}
.lt_product_item a .oldprice {
  text-decoration: line-through;
}