.lt-main .sort {
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  font-size: 12px;
  background-color: #eee;
}
.lt-main .sort a {
  float: left;
  width: 25%;
  text-align: center;
  color: #666;
}
.lt-main .sort a.current {
  color: orange;
}
.lt_product .loading {
  width: 50px;
  height: 50px;
  border: 3px solid blue;
  position: absolute;
  top: 200px;
  left: 50%;
  border-radius: 10px;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  from {
    transform: translate(-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%) rotate(360deg);
  }
}